name: Build MajiroStringEditor

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration: [Debug, Release]

    env:
      Solution_Name: MajiroStringEditor.sln

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore
        run: msbuild $env:Solution_Name /t:Restore /p:Configuration=${{ matrix.configuration }}

      - name: Build
        run: msbuild $env:Solution_Name /t:Build /p:Configuration=${{ matrix.configuration }}

      - name: Upload exe
        uses: actions/upload-artifact@v4
        with:
          name: MajiroStringEditor-${{ matrix.configuration }}
          path: |
            **\bin\${{ matrix.configuration }}\*.exe
            **\bin\${{ matrix.configuration }}\*.dll
